In [55]:
import pandas as pd

In [56]:
demo_path = (r"C:\Users\tommy\OneDrive\Documents\Project 1\population_wd12.csv")

# Read the CSV into Pandas
demo_df = pd.read_csv(demo_path)
demo_df.head()

,timeframe,ward2012,TotPop,TotPop_m,ward2012_nf,start_date,end_date,PctPopUnder18Years,PctPop65andOverYears,PctForeignBorn,...,PctForeignBorn_m,PctBlackNonHispBridge_m,PctWhiteNonHispBridge_m,PctHisp_m,PctAPINonHispBridge_m,PctFamiliesOwnChildFH_m,PctChgTotPop,PctChgPopUnder18Years,PctChgPop65andOverYear,indc
0,2016,Ward 1,83256,1945,1,1-Jan-12,31-Dec-16,12,7.5,22,...,1.3,1.4,1.2,1.6,0.6,4.8,X,X,X,1
1,2016,Ward 2,76459,1825,2,1-Jan-12,31-Dec-16,6,8.7,21,...,1.4,1,1.2,1.3,0.8,7.5,X,X,X,1
2,2016,Ward 3,82930,1689,3,1-Jan-12,31-Dec-16,16,17,19,...,1.2,1,1.3,1.1,0.7,2.7,X,X,X,1
3,2016,Ward 4,84120,1946,4,1-Jan-12,31-Dec-16,20,14,23,...,1.5,1.4,0.8,1.6,0.4,3.4,X,X,X,1
4,2016,Ward 5,85504,1995,5,1-Jan-12,31-Dec-16,18,14,12,...,1,1.5,1,1.3,0.4,3.6,X,X,X,1

In [57]:
#list out columns
list(demo_df.columns)

['timeframe',
 'ward2012',
 'TotPop',
 'TotPop_m',
 'ward2012_nf',
 'start_date',
 'end_date',
 'PctPopUnder18Years',
 'PctPop65andOverYears',
 'PctForeignBorn',
 'PctBlackNonHispBridge',
 'PctWhiteNonHispBridge',
 'PctHisp',
 'PctAsianPINonHispBridge',
 'PctFamiliesOwnChildrenFH',
 'PctPopUnder18Years_m',
 'PctPop65andOverYears_m',
 'PctForeignBorn_m',
 'PctBlackNonHispBridge_m',
 'PctWhiteNonHispBridge_m',
 'PctHisp_m',
 'PctAPINonHispBridge_m',
 'PctFamiliesOwnChildFH_m',
 'PctChgTotPop',
 'PctChgPopUnder18Years',
 'PctChgPop65andOverYear',
 'indc']

In [58]:
# Select subset of demographic data  
sub_demo_df = demo_df.iloc[:,[0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]]
sub_demo_df.head()

,timeframe,ward2012,TotPop,start_date,end_date,PctPopUnder18Years,PctPop65andOverYears,PctForeignBorn,PctBlackNonHispBridge,PctWhiteNonHispBridge,PctHisp,PctAsianPINonHispBridge,PctFamiliesOwnChildrenFH
0,2016,Ward 1,83256,1-Jan-12,31-Dec-16,12,7.5,22,29,45,19,4.7,39
1,2016,Ward 2,76459,1-Jan-12,31-Dec-16,6,8.7,21,8.8,67,11,8.9,17
2,2016,Ward 3,82930,1-Jan-12,31-Dec-16,16,17,19,6.7,73,10,6.3,13
3,2016,Ward 4,84120,1-Jan-12,31-Dec-16,20,14,23,53,22,20,2.1,29
4,2016,Ward 5,85504,1-Jan-12,31-Dec-16,18,14,12,67,19,9.2,2.1,48

In [59]:
#Tell pandas to keep data for 2010 and 2016 (complete data)
array = ['2000', '2016']
sub_demo_df = sub_demo_df.loc[sub_demo_df['timeframe'].isin(array)]
sub_demo_df.head()

,timeframe,ward2012,TotPop,start_date,end_date,PctPopUnder18Years,PctPop65andOverYears,PctForeignBorn,PctBlackNonHispBridge,PctWhiteNonHispBridge,PctHisp,PctAsianPINonHispBridge,PctFamiliesOwnChildrenFH
0,2016,Ward 1,83256,1-Jan-12,31-Dec-16,12,7.5,22,29,45,19,4.7,39
1,2016,Ward 2,76459,1-Jan-12,31-Dec-16,6,8.7,21,8.8,67,11,8.9,17
2,2016,Ward 3,82930,1-Jan-12,31-Dec-16,16,17,19,6.7,73,10,6.3,13
3,2016,Ward 4,84120,1-Jan-12,31-Dec-16,20,14,23,53,22,20,2.1,29
4,2016,Ward 5,85504,1-Jan-12,31-Dec-16,18,14,12,67,19,9.2,2.1,48

In [63]:
#Drop incomplete data
sub_demo_df = sub_demo_df.drop(sub_demo_df[sub_demo_df['TotPop']=="X"].index)
sub_demo_df.head()

,timeframe,ward2012,TotPop,start_date,end_date,PctPopUnder18Years,PctPop65andOverYears,PctForeignBorn,PctBlackNonHispBridge,PctWhiteNonHispBridge,PctHisp,PctAsianPINonHispBridge,PctFamiliesOwnChildrenFH
0,2016,Ward 1,83256,1-Jan-12,31-Dec-16,12,7.5,22,29,45,19,4.7,39
1,2016,Ward 2,76459,1-Jan-12,31-Dec-16,6,8.7,21,8.8,67,11,8.9,17
2,2016,Ward 3,82930,1-Jan-12,31-Dec-16,16,17,19,6.7,73,10,6.3,13
3,2016,Ward 4,84120,1-Jan-12,31-Dec-16,20,14,23,53,22,20,2.1,29
4,2016,Ward 5,85504,1-Jan-12,31-Dec-16,18,14,12,67,19,9.2,2.1,48

In [61]:
#Pull percent change into separate data frame
pct_change_df = demo_df.iloc[:,[0, 1, 23]]
pct_change_df.head()

   timeframe ward2012 PctChgTotPop
0       2016   Ward 1            X
1       2016   Ward 2            X
2       2016   Ward 3            X
3       2016   Ward 4            X
4       2016   Ward 5            X

In [62]:
#Drop incomplete data
pct_change_df = pct_change_df.drop(pct_change_df[pct_change_df['PctChgTotPop']=="X"].index)
pct_change_df

    timeframe ward2012 PctChgTotPop
32       2010   Ward 1          3.8
33       2010   Ward 2           21
34       2010   Ward 3          4.7
35       2010   Ward 4            1
36       2010   Ward 5          3.8
37       2010   Ward 6          7.2
38       2010   Ward 7          2.5
39       2010   Ward 8         -0.5
40       2000   Ward 1            1
41       2000   Ward 2          6.6
42       2000   Ward 3          1.5
43       2000   Ward 4         -3.9
44       2000   Ward 5          -14
45       2000   Ward 6         -6.1
46       2000   Ward 7          -11
47       2000   Ward 8          -14